<link rel="stylesheet" href="snake_screen.css" />
<div class="game-container">
  <div
    class="game-info"
    style="display: flex; justify-content: space-between; margin-bottom: 10px"
  >
    <div>Score: <span id="currentScore">0</span></div>
    <div>High Score: <span id="highScoreDisplay">0</span></div>
  </div>
  <canvas id="canvas" width="500" height="500"></canvas>
  <div class="game-controls-buttons">
    <button class="control-btn" id="startButton">Start Game</button>
    <button class="control-btn" id="pauseButton">Pause</button>
  </div>
  <div class="game-controls">
    <div class="game-controls-direction">
      <button class="control-btn" id="upButton">Up</button>
      <button class="control-btn" id="downButton">Down</button>
      <button class="control-btn" id="leftButton">Left</button>
      <button class="control-btn" id="rightButton">Right</button>
    </div>
  </div>
</div>
