<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a href="{{BASE_PATH}}/index.html">
        <img
          src="{{BASE_PATH}}/assets/images/website-logo.png"
          alt="logo"
          id="mainlogo"
        />
      </a>
    </div>
    <div class="main-menu">
      <ul>
        <li>
          <a href="{{BASE_PATH}}/index.html">Home</a>
        </li>
        <li class="home-only">
          <a href="{{BASE_PATH}}/index.html#we">Work Experience</a>
        </li>
        <li class="home-only">
          <a href="{{BASE_PATH}}/index.html#projects">Projects</a>
        </li>
        <li>
          <a class="btn" href="{{BASE_PATH}}/pages/fun.html">Fun</a>
        </li>
        <li>
          <a class="btn" href="{{BASE_PATH}}/index.html#c">Contact</a>
        </li>
      </ul>
    </div>
    <div class="dropmenu">
      <a href="javascript:void(0)" onclick="burgerMenu()">
        <img
          src="../Assets/Images/hamburger-menu-icon.png"
          alt=""
          id="burgericon"
        />
      </a>
    </div>
  </div>
  <div class="optionmenu" id="optionmenu">
    <a href="./index.html" onclick="closeOptionMenu()">Home</a>
    <a href="./index.html#work" onclick="closeOptionMenu()" class="home-only"
      >Work Experience</a
    >
    <a
      href="./index.html#projects"
      onclick="closeOptionMenu()"
      class="home-only"
      >Projects</a
    >
    <a href="./Pages/fun.html" onclick="closeOptionMenu()">Fun</a>
    <a href="./index.html#contact" onclick="closeOptionMenu()" class="home-only"
      >Contact</a
    >
  </div>
</nav>
<div class="navbar-spacer"></div>
