:root {
  --navbar-height: 100px;
}

.navbar {
  background: var(--light-color);
  padding: 20px;
  padding-bottom: 5px;
  position: fixed;
  z-index: 600;
  width: 100%;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
  color: var(--dark-color);
}

.navbar ul li a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

.navbar ul li:last-child a {
  margin-left: 10px;
}

.navbar a #mainlogo {
  max-height: 44px;
  transition: 1s;
}

.navbar #mainlogo:hover {
  rotate: -0.25turn;
  color: var(--secondary-color);
}

#burgericon {
  transition: all 0.25s;
  height: 44px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 100%;
}

.navbar #burgericon:hover {
  background-color: var(--light-color);
  filter: invert(1);
}

.optionmenu {
  display: none;
  text-align: end;
  position: relative;
  font-size: 50px;
  transition: all 1s ease;
}

.optionmenu a {
  color: var(--dark-color);
  transition: all 1s ease;
}

.optionmenu a:hover {
  background-color: var(--dark-color);
  color: var(--primary-color);
  text-align: center;
}

.home-only {
  display: none;
}

.navbar-spacer {
  height: var(--navbar-height);
}

@media (max-width: 1100px) {
  .navbar {
    background: var(--light-color);
    padding: 20px;
    padding-bottom: 5px;
    position: fixed;
    z-index: 600;
    width: 100%;
  }

  .navbar .main-menu {
    display: none;
  }

  .dropmenu {
    display: flex;
  }

  .home-only {
    display: none;
  }
}

@media (min-width: 1101px) {
  .dropmenu {
    display: none;
  }
}
