<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Navigation</h3>
      <ul>
        <li><a href="/pages/index.html#about">About Me</a></li>
        <li><a href="/pages/index.html#we">Work Experience</a></li>
        <li><a href="/pages/index.html#p">Projects</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>My Apps</h3>
      <ul>
        <li><a href="/pages/fun.html">All Apps</a></li>
        <li><a href="/pages/snake.html">Snake Game</a></li>
        <li><a href="/pages/myReactionTime.html">Reaction Time</a></li>
        <li><a href="/pages/encoderDecoder.html">Encryption</a></li>
        <li><a href="/pages/mySavePlan.html">Save Plan</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Contact</h3>
      <ul>
        <li><a href="mailto:eliasmahamane@gmail.com">Email</a></li>
        <li>
          <a href="https://linkedin.com/in/elias-mahamane-sidi">LinkedIn</a>
        </li>
        <li><a href="https://github.com/Super0silveR">GitHub</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 Elias Mahamane Sidi. All rights reserved.</p>
  </div>
</footer>
