* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #00cccc;
  --secondary-color: #de1717;
  --third-color: #8b0404;
  --light-color: #f5f5f5;
  --dark-color: #141414;
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/***************/

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  transition: 0.5s;
  animation: fadeIn 1s;
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #120202 25%,
    #000000 50%,
    #001414 75%,
    #000000 100%
  );
  background-size: 5000px 5000px;
  animation: bg 6s linear infinite;
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-y: 10000px;
  }
}

a {
  text-decoration: none;
  color: var(--light-color);
}

h2 {
  color: var(--light-color);
}

h3 {
  color: var(--light-color);
}
h4 {
  color: var(--light-color);
}
h5 {
  color: var(--light-color);
}

p {
  color: var(--light-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */

@media (max-width: 1100px) {
  .navbar {
    background: var(--light-color);
    padding: 20px;
    padding-bottom: 5px;
    position: fixed;
    z-index: 600;
    width: 100%;
  }

  .navbar .main-menu {
    display: none;
  }

  .dropmenu {
    display: flex;
  }
}

@media (min-width: 1101px) {
  .dropmenu {
    display: none;
  }
}

.navbar {
  background: var(--light-color);
  padding: 20px;
  padding-bottom: 5px;
  position: fixed;
  z-index: 600;
  width: 100%;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
  color: var(--dark-color);
}

.navbar ul li a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

.navbar ul li:last-child a {
  margin-left: 10px;
}

.navbar a #mainlogo {
  max-height: 44px;
  transition: 1s;
}

.navbar #mainlogo:hover {
  rotate: -0.25turn;
  color: #de1717;
}

#burgericon {
  transition: all 0.25s;
  height: 44px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 100%;
}

.navbar #burgericon:hover {
  background-color: #ffffff;
  filter: invert(1);
}

.optionmenu {
  display: none;
  text-align: end;
  position: relative;
  font-size: 50px;
  transition: all 1s ease;
}

.optionmenu a {
  color: #000000;
  transition: all 1s ease;
}

.optionmenu a:hover {
  background-color: #000000;
  color: var(--primary-color);
  text-align: center;
}

/* Utility Classes */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.divspan {
  margin-top: -50px; /* Size of fixed header */
  padding-bottom: 50px;
  display: block;
}

.divider {
  display: flex;
  margin: 50px 0;
}
.divider h1 {
  font-weight: 200;
  font-style: italic;
  min-width: 30%;
  text-align: end;
  margin-right: 10px;
}

.divider div {
  width: 90%;
  height: 25px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: white;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--primary-color);
  color: #f5f5f5;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
  background-color: #141414;
}

.btn-primary {
  background: var(--primary-color);
  color: rgb(0, 0, 0);
}

.btn-dark {
  background: var(--dark-color);
  color: rgb(0, 0, 0);
}

.btn-block {
  display: block;
  width: 100%;
}

/* Content Holder */

.ContentHolder {
  max-width: 1300px;
  margin: 0 auto;
}

/* about */

.about {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.about img {
  max-height: 500px;
  border-radius: 69%;
}

.about .introduction {
  padding-left: 50px;
  max-width: 50%;
}

h1 {
  color: var(--light-color);
  font-weight: 400;
}
h2 {
  color: var(--light-color);
  font-weight: 400;
}

.se {
  animation: seWave 10s infinite;
}

@keyframes seWave {
  0% {
    color: var(--light-color);
  }
  33% {
    color: var(--primary-color);
  }
  66% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--light-color);
  }
}

@media (max-width: 1100px) {
  .degree {
    display: grid;
  }
  .degree img {
    justify-self: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 1099px) {
  .degree {
    display: flex;
  }
}

.degree {
  align-items: center;
  justify-content: center;
  margin: 20px 50px;
}

.degree img {
  filter: brightness(500%);
}

.degree p {
  text-align: start;
  padding-left: 50px;
  width: 100%;
  font-size: larger;
}

.tech-grid ul {
  background-color: var(--light-color);
  border-radius: 15px;
  padding: 15px 0;
}

.tech-grid img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 10px;
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.tech-grid img:hover {
  filter: grayscale(0);
}

.tech p {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

.tech-grid p {
  font-style: italic;
  margin: 20px 0px;
  font-size: medium;
  text-decoration: none;
}

.fm img {
  width: 75px;
  height: 75px;
}

.tools img {
  width: 60px;
  height: 60px;
}

.tech-grid div {
}

.tech-grid li {
  justify-self: stretch;
  align-self: center;
}

.tech-grid ul {
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Projects */

@media (max-width: 1100px) {
  .projects {
    display: inline;
    background-color: rgba(255, 255, 255, 0.151);
    justify-items: center;
    text-align: center;
  }

  .projects .projectMenu {
    margin-top: 100px;
    font-size: larger;
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  .projectTags ul {
    display: flex;
    flex-wrap: wrap;
  }

  .projectTags li {
    margin-bottom: 25px;
  }

  .projectTags a {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #00cccc;
    border-style: solid;
    transition: 0.2s;
  }

  .projectTags .active {
    border-color: var(--secondary-color);
    background-color: var(--light-color);
    color: var(--dark-color);
  }

  .projectTags a:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  .ProjectCardHolder {
    text-align: center;
  }

  .projectCard {
    margin: 15px 15px;
    border-radius: 15px;
    display: block;
    width: inherit;
    padding: 0px;
    transition: 0.25s ease-in;
  }

  .projectCard {
    filter: brightness(100%) blur(0);
  }

  .projectCard:hover h3 {
  }

  .projectCard .imagehold {
    filter: brightness(100%) blur(0);
  }

  .projectCard .projectDetails {
    filter: brightness(100%) blur(0);
  }

  .projectCard .projecticon {
    margin-left: 275;
  }

  .projectCard a {
    color: #ffffff;
    background-color: #141414;
    border-radius: 10px;
    padding: 5px;
  }

  .projectCard p {
    color: #141414;
  }

  .imagehold {
    transition: 1s linear;
    background-image: url("../Assets/code.jpeg");
    background-size: cover;
    filter: brightness(50%) blur(1px);
    transition: 0.25s ease-in;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .imagehold h3 {
    transition: 0.25s ease-in;
    text-align: center;
    margin-right: 10px;
    color: rgb(239, 240, 239);
    text-shadow: rgb(0, 0, 0) 2px 2px 5px;
    font-size: 30px;
  }

  .projectDetails h3 {
    transition: 0.25s ease-in;
    text-align: center;
    margin-left: 10px;
    color: var(--primary-color);
    font-size: 30px;
  }

  .projectDetails {
    filter: brightness(50%) blur(1px);
    background-color: #f5f5f5;
    transition: 0.25s ease-in;
    padding-bottom: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .projecticon {
    position: absolute;
    height: 250px;
    z-index: 2;
    margin-left: 525px;
    margin-top: 125px;
    filter: brightness(100%);
    transition: 0.25s ease-in;
  }

  .projectDetails a {
    transition: 1.5s ease-in;
    color: #f5f5f5;
  }

  .projectDetails p {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    justify-self: center;
    transition: 1s ease-in;
    color: #000000;
  }
}

@media (min-width: 1101px) {
  .projects {
    display: inline;
    background-color: rgba(255, 255, 255, 0.151);
    justify-items: center;
    text-align: center;
  }

  .projects .projectMenu {
    margin-top: 25px;
    font-size: larger;
    display: flex;
    justify-content: center;
    grid-template-columns: 20% 80%;
  }

  .projectTags ul {
    display: flex;
    flex-wrap: wrap;
  }

  .projectTags li {
    margin-bottom: 25px;
  }

  .projectTags a {
    margin: 5px;
  }

  .projectTags a {
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #00cccc;
    border-style: solid;
    transition: 0.5s;
  }

  .projectTags .active {
    border-color: var(--secondary-color);
    background-color: var(--light-color);
    color: var(--dark-color);
  }

  .projectTags a:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
  }

  .ProjectCardHolder {
    padding-top: 50px;
    text-align: center;
  }

  .projectCard {
    display: flex;
    width: inherit;
    height: 500px;
    padding: 0px;
    transition: 0.25s ease-in;
  }

  .projectCard:hover {
    filter: brightness(100%) blur(0);
  }

  .projectCard:hover h3 {
    margin-top: 100px;
  }

  .projectCard:hover .imagehold {
    filter: brightness(100%) blur(0);
  }

  .projectCard:hover .projectDetails {
    filter: brightness(100%) blur(0);
  }

  .projectCard:hover .projecticon {
    margin-left: 275;
  }

  .projectCard:hover a {
    color: #ffffff;
    background-color: #141414;
    border-radius: 10px;
    padding: 5px;
  }

  .projectCard:hover p {
    color: #141414;
  }

  .imagehold {
    width: 50%;
    transition: 1s linear;
    background-image: url("../Assets/code.jpeg");
    background-size: cover;
    filter: brightness(50%) blur(1px);
    transition: 0.25s ease-in;
  }

  .imagehold h3 {
    transition: 0.25s ease-in;
    text-align: end;
    margin-top: 200px;
    margin-right: 10px;
    color: rgb(239, 240, 239);
    text-shadow: rgb(0, 0, 0) 2px 2px 5px;
    font-size: 50px;
  }

  .projectDetails h3 {
    transition: 0.25s ease-in;
    text-align: start;
    margin-top: 200px;
    margin-left: 10px;
    color: var(--primary-color);
    font-size: 50px;
  }

  .projectDetails {
    width: 50%;
    filter: brightness(50%) blur(1px);
    background-color: #f5f5f5;
    transition: 0.25s ease-in;
  }

  .projecticon {
    position: absolute;
    height: 250px;
    z-index: 2;
    margin-left: 525px;
    margin-top: 125px;
    filter: brightness(100%);
    transition: 0.25s ease-in;
  }

  .projectDetails a {
    transition: 1.5s ease-in;
    color: #f5f5f5;
  }

  .projectDetails p {
    text-align: center;
    width: 100%;
    width: 60%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    justify-self: center;
    transition: 1s ease-in;
    color: #f5f5f5;
  }
}

.hidden {
  display: none;
}

#DowntownApp {
  background-image: url("../Assets/downtown.png");
}

#myWebsite {
  background-image: url("../Assets/eliaswebsite.png");
}

#comingsoon {
  background-image: url("../Assets/commingsoon.png");
}

/* Work Cards */

@media (max-width: 1100px) {
  .workCards {
    display: block;
  }

  .workCard {
    margin: auto 10px;
    padding: 0px 10px;
    background-size: cover;
    padding: 50px 0px;
  }

  .workCard h3 {
    margin: auto;
    position: relative;
    font-size: 40px;
    color: var(--light-color);
    text-shadow: 0 0 5px #000000;
    transition: all 1s ease-in;
    text-align: center;
  }

  .workCard p {
    margin: 5px 5px;
    display: block;
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.836);
    font-size: 20px;
    transition: all 1s ease-in-out;
    width: auto;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
  }

  .workTags p {
    border-color: #00cccc;
    border-style: solid;
    padding: 5px 5px;
  }

  .workCard ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .workcard ul p {
    width: auto;
    text-align: center;
    margin: 10px 5px;
    padding: 5px 10px;
  }

  .p-workdesc {
    border-width: 5px;
    border-color: var(--secondary-color);
    border-style: solid;
    font-size: 20px;
    text-align: center;
    font-style: italic;
  }

  .p-workdesc-wtitle {
    color: #00cccc;
    font-size: 25px;
    font-weight: 600;
  }
}

@media (min-width: 1101px) {
  .workCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .workCard {
    width: 50px;
    height: 50vh;
    min-height: 600px;
    max-height: 700px;
    box-shadow: 0 0 10px black;
    flex: 1;
    background: white no-repeat scroll center;
    transition: all 1s ease-in;
    filter: grayscale(1);
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .workCard h3 {
    position: relative;
    width: 255px;
    bottom: -130px;
    font-size: 40px;
    left: -50px;
    transform: rotate(-90deg);
    color: var(--light-color);
    text-shadow: 0 0 3px #000000;
    transition: all 1s ease-in;
  }

  .workCard p {
    display: block;
    color: #f5f5f500;
    position: relative;
    left: 0;
    bottom: -130px;
    font-size: 20px;
    transition: all 1s ease-in-out;
    width: 650px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
  }

  .workCard a {
    display: block;
    color: #f5f5f500;
    position: relative;
    bottom: -130px;
    font-size: 20px;
    transition: all 1s ease-in-out;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
  }

  .workTags ul {
    margin-top: 10px;
    display: flex;
  }

  .workTags p {
    border-radius: 20px;
    border-color: #00cccc00;
    border-style: solid;
    width: fit-content;
    margin-right: 5px;
    padding-right: 10px;
  }

  .active {
    flex: 6;
    filter: grayscale(0);
  }

  .active h3 {
    min-width: 255px;
    max-width: 300px;
    width: auto;
    transform: rotate(0) translate(20%, -200%);
    position: relative;
  }

  .active p {
    display: block;
    transform: rotate(0) translate(75px, -75px);
    position: relative;
    color: #f5f5f5;
    text-shadow: rgba(0, 0, 0, 0.322) 2px 2px 5px;
    background-color: #141414cc;
  }

  .active a {
    transform: rotate(0) translate(75px, -75px);
    position: relative;
    color: #f5f5f5;
    text-shadow: rgba(0, 0, 0, 0.185) 2px 2px 5px;
    background-color: #141414be;
  }

  .active ul {
    display: flex;
  }

  .active .workTags p {
    border-color: #00cccc;
    border-style: solid;
  }

  .p-workdesc {
    border-width: 0px;
    border-color: #de171700;
    border-style: solid;
    font-size: 20px;
    text-align: center;
    font-style: italic;
  }

  .p-workdesc-wtitle {
    color: #00cccc00;
    font-size: 25px;
    font-weight: 600;
  }

  .active .p-workdesc {
    border-width: 5px;
    border-color: var(--secondary-color);
    border-style: solid;
    font-size: 20px;
    text-align: center;
    font-style: italic;
  }

  .active .p-workdesc-wtitle {
    color: #00cccc;
    font-size: 25px;
    font-weight: 600;
  }
}

#workCard-1 {
  background-image: url("../Assets/downtown.png");
}
#workCard-2 {
  background-image: url("../Assets/OxfamQuebec.png");
}
#workCard-3 {
  background-image: url("../Assets/innovapost.PNG");
}
#workCard-4 {
  background-image: url("../Assets/innovapost.jpg");
}

/* Work Experience */

.workexp {
  background-color: aquamarine;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 60%;
}

.workexpTitle {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  justify-self: stretch;
  font-size: larger;
}

.workexDetails {
  grid-column: 3;
  grid-row: 1;
  width: 100%;
  text-align: left;
}

.workTitle {
  font-size: larger;
}

.workTime {
  grid-column: 2;
  text-align: end;
  padding-right: 10px;
  font-size: larger;
}

.tags ul {
  display: flex;
}

.tags p {
  background-color: var(--dark-color);
  margin: 5px;
  color: var(--light-color);
  padding: 2px;
  border-radius: 10px;
}

/* Contact */

.contactHolder {
  display: flex;
  margin-top: 30px;
}

.contactform {
  width: 50%;
  padding-right: 5%;
  padding-left: 5%;
  display: grid;
  align-items: center;
  font-size: larger;
  grid-template-columns: 0% 100%;
}

.myinfo {
  width: 50%;
  vertical-align: middle;
  border-right: var(--light-color);
  border-style: solid;
  border-width: 0;
  border-right-width: 1px;
  text-align: center;
  transition: all 1.25 linear;
}

.myinfo h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.myinfo h4 {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 25px;
}

.myinfo a {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px;
  background-color: #00cccc;
  border-radius: 5px;
  transition: all 0.25s linear;
}

.myinfo a:hover {
  color: #f5f5f5;
  background-color: #141414;
}

.contactform input {
  font-size: larger;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
}
.contactform textarea {
  font-size: larger;
  min-height: 300px;
  padding: 10px;
}

.contactform h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
  display: block;
  width: max-content;
  justify-self: center;
}

.contactsection h3 {
  text-align: center;
}

@media (max-width: 1100px) {
  .contactHolder {
    display: block;
  }

  .myinfo {
    width: 100%;
    margin-bottom: 50px;
  }

  .contactform {
    width: 100%;
  }
}

/* Footer */

footer {
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

footer img {
  height: 75px;
}

.Socials {
  margin: 100px 0px;
  display: flex;
  justify-content: center;
}

.Socials img {
  padding: 0px 20px;
}

#Github img {
  filter: invert(100%);
}

#Gmail img {
  filter: grayscale(100%);
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
}

#LinkedIn img {
  filter: grayscale(100%) contrast(500%) invert(100%);
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
}
